.DS_Store
main.py_bk
main.py_bk_1stAPI
after_Create.png
after_direct_upload.png
after_export_glb.png
after_New_file.png
after_options_button.png
after_second_click_Start_in_Studio.png
after_Start_in_Studio.png
auth_page.png
before_finding_Create.png
before_finding_New_file.png
before_finding_options_button.png
before_finding_prompt_generate.png
before_finding_Start_in_Studio.png
before_finding_Upload_an_image.png
button_New_file_not_found.png
exported.glb
login_manual.png
manual_login.png
page_after_new_file.html
page_after_studio.html
page_when_New_file_not_found.html
sample.png
screen_before_create.png
