body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.MuiSelect-select {
  text-transform: capitalize;
}

.MuiPaper-root {
  transition: all 0.3s ease-in-out;
}

.MuiPaper-root:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
} 